@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
button{
    width: 125px;
    height: 50px;
    background: cyan;
    color: white;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 82.5px;
}
button:hover{
    background: #00ebeb;
    cursor: pointer;
}
img{
    width: 250px;
    height: 250px;
    margin-left: 28.5px;
    animation: app-logo-spin 10s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
p{
    font-size: 18px;
    font-weight: 400;
}
a{
    font-size: 23.5px;
    font-weight: 500;
    color: #00d8ff;
    margin-left: 75px;
}
@keyframes app-logo-spin {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@media screen and (max-width: 1024px) {
    h1, p{
        font-size: 28.5px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-left: 12.5px;
    }
    p{
        font-size: 17.5px;
        font-weight: 400; 
    }
    a{
        font-size: 21.5px;
        font-weight: 500;
        color: #00d8ff;
        margin-left: 86.5px;
    }
    button{
        width: 125px;
        height: 50px;
        background: cyan;
        color: white;
        border: none;
        text-align: center;
        font-size: 17.5px;
        font-weight: 500;
        cursor: pointer;
        margin-left: 89.5px;
    }
    img{
        width: 185px;
        height: 185px;
        margin-left: 63.5px;
    }
}
@media screen and (max-width: 500px) {
    h1, p{
        font-size: 25px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-left: 10px;
    }
    p{
        font-size: 16px;
        font-weight: 400; 
    }
    a{
        font-size: 20px;
        font-weight: 500;
        color: #00d8ff;
        margin-left: 83.5px;
    }
    button{
        width: 125px;
        height: 50px;
        background: cyan;
        color: white;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-left: 86.5px;
    }
    img{
        width: 150px;
        height: 150px;
        margin-left: 68.5px;
    }
}